.cabecalho {
    background-color: var( --borda-cabecalho-mobile);
    color: var(--branco);
}

.foto {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 8.5rem;
    border-radius: 25%;
}

.nome {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 26px;
}

.link-1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 2rem;
    color: var(--fonte-link);
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        margin-top: 0%;
        max-height: 450px;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        background-image: linear-gradient(to bottom right, rgb(34, 3, 93), rgb(26, 3, 25));
    }
    .link-1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-right: 2rem;
        color: var(--branco);
    }
    .nome {
        display: flex;
        justify-content: left;
        padding-top: 1rem;
        font-size: 60px;
        color: var(--fonte-link);
    }
    .foto {
        display: flex;
        margin-left: 63rem;
        border-radius: 50%;
        width: 200px;
        z-index: 2;
        border: 5px solid #080808;
        position: relative;
        box-shadow: 15px 25px 35px black;
    }
    /*modo light*/
    .darkMode {
        background-color: var(--cinza-claro);
    }
}