.habilidades-img {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    border-radius: 100%;
    margin-top: .2rem;
}

.secao-habilidade {
    justify-content: center;
    margin-left: 30%;
}

@media screen and (min-width: 1024px) {
    .habilidades-img {
        z-index: 2;
        position: relative;
        width: 100px;
        display: flex;
        margin-left: 67rem;
        border-radius: 100%;
        border: 2px solid #111111;
        box-shadow: 10px 5px 5px black;
    }
    .secao-habilidade {
        justify-content: center;
        margin-left: 63rem;
        z-index: 2;
        position: relative;
        color: var(--cinza-medio);
        font-size: 35px;
    }
}